@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*
    <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="~/img/NI2.png"  asp-append-version="true"/>
</div>

<div class="align-content-center">
    <div class="container">
        <div class="row">
            <div class="col align-content-center" >
                <center>
                    <img src="~/img/equipo.jpg" width="100px" height="100px" alling="center" asp-page="" />
                </center>
            </div>
            <div class="col align-content-center">
                <center>
                    <img src="~/img/torneo.jpg" width="100px" height="100px" asp-append-version="true" asp-page="" />
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col align-content-center btn btn-dark ">
               <label asp-page="">Municipio</label>
            </div>
            <div class="col align-content-center btn btn-secondary">
                <label asp-page="">Escenario</label>
            </div>
            <div class="col align-content-center btn btn-info">
                <label asp-page="">Canchas</label>
            </div>
            <div class="col align-content-center btn btn-success">
                <label asp-page="">Encuentros</label>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>